<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About Page</title>
  </head>
  <body>
    <header>
      <h1 class="about">About Dave Grohl</h1>
      <img
        src="/lab-express-basic-site/public/images/dave-grohl-broken-leg-medic-696x442.jpg"
        alt="About Dave Grohl"
        id="aboutDG"
      />
    </header>
    <div class="div-line">
      <h2>Curiosities</h2>
      <p>
        There’s no doubt that Foo Fighters‘ frontman Dave Grohl is one of the
        most exceptional performers in rock and roll history that respects his
        music and fans which shows through his projects and interviews during
        which any time he opens up about music, his enthusiasm shines. This is
        exactly why Grohl is one of the most successful musicians of the last
        few decades and managed to maintain his music career at its height for
        the past 35 years. While every fan knows the amount of respect Dave
        Grohl has for them, there’s an incident to prove it that happened in
        2015 when the Foo Fighters’ frontman actually fell off the stage and
        broke his leg. Although many musicians would immediately be rushed to
        the hospital and cancel the show, Grohl decided to finish the show,
        therefore, his treatment was made backstage. Let’s dive into the details
        of this unbelievable story.
      </p>
    </div>
    <ul>
        <li><a href="/home">Return to Home Page</a></li>
        <li><a href="/works">Works of Dave Grohl </a></li>
        <li><a href="/gallery">Photo Gallery</a></li>
    </ul>
</div>
  </body>
</html>
