<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dave Grohl</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works of Dave</a>
      <a href="/photogallery">Photo Gallery</a>
    </nav>
    <div id="about">
      <h1>About</h1>
      <p>
        David Eric Grohl (born January 14, 1969) is an American musician,
        songwriter, and record producer. He is the founder of Foo Fighters, for
        which he is the singer, guitarist, and primary songwriter. He was the
        drummer for Nirvana from 1990 to 1994.
      </p>
    </div>
    
     
        
      </p>
    </section>

    <section class="photogallery">
      <h1>Photo Gallery</h1>
      <img
        src="/public/images/dave-grohl-broken-leg-medic-696x442.jpg"
        alt="picture"
      />
      <img
        src="/public/images/david_grohl_guitars__gear_list.webp"
        alt="picture2"
      />
    </section>

    <section>
      <h1>Home</h1>
      <p>Welcome, this is a fan page of Dave Grohl.</p>
    </section>
  </body>
</html>
