<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works Page</title>
  </head>
  <body>
    <header>
      <h1 class="works">Works of Art</h1>
      <img
        src="/images/artWorkNyanCat.jpg"
        alt="artwork of nyan cat"
        id="worksNyanCat"
      />
    </header>
    <div>
      <h2>Works of An artist</h2>
      <article>
        <p>
          Nirvana (1990–1994) Main article: Nirvana (band) While playing in
          Scream, Grohl became a fan of the Melvins and eventually befriended
          them. During a 1990 tour stop on the West Coast, Melvins guitarist
          Buzz Osborne took his friends Kurt Cobain and Krist Novoselic, of the
          band Nirvana, to see Scream.[28] Following the breakup of Scream,
          Grohl called Osborne for advice.Osborne informed him that Nirvana was
          looking for a drummer and gave Grohl the phone numbers of Cobain and
          Novoselic, who invited Grohl to Seattle to audition. Grohl passed the
          audition and soon joined the band. Novoselic later said, "We knew in
          two minutes that he was the right drummer." Grohl told Q: "I remember
          being in the same room with them and thinking, 'What? That's Nirvana?
          Are you kidding?' Because on their record cover they looked like
          psycho lumberjacks... I was like, 'What, that little dude and that big
          motherfucker? You're kidding me'." When Grohl joined Nirvana, the band
          had already recorded several demonstrations for the follow-up to their
          debut album Bleach, having spent time recording with producer Butch
          Vig in Wisconsin. Initially, the plan was to release the album on Sub
          Pop, but the band received a great deal of interest based on the
          demos. Grohl spent the initial months with Nirvana traveling to
          various labels as the band shopped for a deal, eventually signing with
          DGC Records. In the spring of 1991, the band entered Sound City
          Studios in Los Angeles to record Nevermind (as seen in Grohl's 2013
          documentary Sound City). Nevermind (1991) exceeded all expectations
          and became a worldwide commercial success. At the same time, Grohl was
          compiling and recording his own material, which he released on a
          cassette called Pocketwatch in 1992 on indie label Simple Machines.
          Rather than using his own name, Grohl released the cassette under the
          pseudonym "Late!" In the later years of Nirvana, Grohl's songwriting
          contributions increased. In Grohl's initial months in Olympia, Cobain
          overheard him working on a song called "Color Pictures of a Marigold",
          and the two subsequently worked on it together. Grohl would later
          record the song for the Pocketwatch cassette. Grohl stated in a 2014
          episode of Foo Fighters: Sonic Highways that Cobain reacted by kissing
          him upon first hearing a demo of "Alone + Easy Target" that Grohl had
          recently recorded. During the sessions for In Utero, Nirvana decided
          to re-record "Color Pictures of a Marigold" and released this version
          as a B-side on the "Heart-Shaped Box" single, titled simply
          "Marigold". Grohl also contributed the main guitar riff for "Scentless
          Apprentice". Cobain admitted in a late 1993 MTV interview that he
          initially thought the riff was "kind of boneheaded", but was gratified
          at how the song developed (a process captured in part in a demo on the
          Nirvana box set With the Lights Out). Cobain said that he was excited
          at the possibility of having Novoselic and Grohl contribute more to
          the band's songwriting. Prior to their 1994 European tour, the band
          scheduled session time at Robert Lang Studios in Seattle to work on
          demos. For most of the three-day session, Cobain was absent, so
          Novoselic and Grohl worked on demos of their own songs. They completed
          several of Grohl's songs, including future Foo Fighters songs
          "Exhausted", "Big Me", "February Stars", and "Butterflies". Cobain
          arrived on the third day and the band recorded a demo of "You Know
          You're Right". It was Nirvana's final studio recording; on April 8,
          1994, Cobain was found dead of a self-inflicted shotgun wound at his
          home. Two decades later, on April 10, 2014, Grohl was inducted into
          the Rock and Roll Hall of Fame as a member of Nirvana. Foo Fighters
          (1994–present) Main article: Foo Fighters Following Cobain's death in
          April 1994, Grohl retreated, unsure what to do. In October 1994, he
          scheduled studio time at Robert Lang Studios, and quickly recorded a
          fifteen-track demo. With the exception of a single guitar part on
          "X-Static" played by Greg Dulli of the Afghan Whigs, Grohl performed
          all of the instruments himself. Grohl wondered if his future might be
          in drumming for other bands. In November, Grohl took a brief turn with
          Tom Petty and the Heartbreakers, including a performance on Saturday
          Night Live. He declined an invitation to become Petty's permanent
          drummer. Grohl was also rumored as a possible replacement for Pearl
          Jam drummer Dave Abbruzzese and performed with the band for a song or
          two at three shows during Pearl Jam's March 1995 Australian tour.
          However, by then, Pearl Jam had already settled on ex-Red Hot Chili
          Peppers drummer Jack Irons, and Grohl had other solo plans. Grohl's
          demo received interest from major labels. Nirvana's A&R rep Gary Gersh
          was now president of Capitol Records and lured Grohl to sign with the
          label. Grohl did not want the effort to be considered the start of a
          solo career, so he recruited other band members: former Germs and
          touring Nirvana guitarist Pat Smear and two members of the recently
          disbanded Sunny Day Real Estate, William Goldsmith (drums) and Nate
          Mendel (bass).[citation needed] He and Novoselic decided against
          Novoselic joining; Grohl said it would have felt "really natural" for
          them to work together again, but would have been uncomfortable for the
          other band members and placed more pressure on Grohl. Rather than
          re-record the album, Grohl's demo was mixed by Rob Schnapf and Tom
          Rothrock and was released in July 1995 as Foo Fighters' self-titled
          debut album.[citation needed] During a break between tours, the band
          entered the studio and recorded a cover of Gary Numan's "Down in the
          Park". In February 1996, Grohl and his then-wife Jennifer Youngblood
          made a brief cameo appearance on The X-Files third-season episode
          "Pusher". After touring for the self-titled album for more than a
          year, Grohl returned home and began work on the soundtrack to the 1997
          movie Touch. Grohl performed all of the instruments and vocals
          himself, save for vocals from Veruca Salt singer Louise Post on the
          title track, keyboards by Barrett Jones (who also co-produced the
          record) on one track, and vocals and guitar by X's John Doe on "This
          Loving Thing (Lynn's Song)". Grohl completed the recording in two
          weeks, and immediately joined Foo Fighters to work on their follow-up.
          During the initial sessions for Foo Fighters' second album, tension
          emerged between Grohl and drummer William Goldsmith. According to
          Goldsmith, "Dave had me do 96 takes of one song, and I had to do
          thirteen hours' worth of takes on another one. ... It just seemed that
          everything I did wasn't good enough for him, or anyone else".
          Goldsmith also believed that Capitol and producer Gil Norton wanted
          Grohl to drum on the album.[48] With the album seemingly complete,
          Grohl headed home to Virginia with a copy of the rough mixes and found
          himself unhappy with the results. He wrote and recorded a few new
          songs, "Walking After You" and the hit single “Everlong”, alone at a
          studio in Washington, D.C. Inspired by the session, Grohl opted to
          move the band, without Goldsmith's knowledge,[48] to Los Angeles to
          re-record most of the album with Grohl on drums. After the sessions
          were complete, Goldsmith announced his departure from the
          band.[citation needed] Grohl said later expressed regret, and said
          that "there were a lot of reasons it didn't work out, but there was
          also a part of me that was like, you know, I don't know if I'm
          finished playing the drums yet". The second Foo Fighters album, The
          Colour and the Shape, was released in May 1997 and cemented Foo
          Fighters as a staple of rock radio. It produced several hit singles,
          including "Everlong", "My Hero", and "Monkey Wrench". Prior to the
          album's release, former Alanis Morissette drummer Taylor Hawkins
          joined on drums. The following September, Smear left the band, citing
          a need to settle down following a lifetime of touring. Smear was
          replaced by Grohl's former Scream bandmate Franz Stahl. Stahl was
          fired prior to recording of Foo Fighters' third album and was replaced
          by touring guitarist Chris Shiflett, who later became a full-fledged
          member during the recording of One by One. Grohl's life of non-stop
          touring and travel continued with Foo Fighters' popularity. During his
          infrequent pauses he lived in Seattle and Los Angeles before returning
          to Alexandria, Virginia. It was there that he turned his basement into
          a recording studio where the 1999 album There Is Nothing Left to Lose
          was recorded. It was recorded following the departure from Capitol and
          their former president Gary Gersh. Grohl described the recording
          experience as "intoxicating at times" because the band members were
          left completely to their own devices. He added, "One of the advantages
          of finishing the record before we had a new label was that it was
          purely our creation. It was complete and not open to outside
          tampering." In 2000, the band recruited Queen guitarist Brian May to
          add some guitar flourish to a cover of Pink Floyd's "Have a Cigar", a
          song which Foo Fighters previously recorded as a B-side. The
          friendship between the two bands resulted in Grohl and Taylor Hawkins
          being asked to induct Queen into the Rock and Roll Hall of Fame in
          2001. Grohl and Hawkins joined May and Queen drummer Roger Taylor to
          perform "Tie Your Mother Down", with Grohl standing in on vocals for
          Freddie Mercury. May later contributed guitar work for the song "Tired
          of You" on the ensuing Foo Fighters album, as well as on an unreleased
          Foo Fighters song called "Knucklehead".
        </p>
      </article>
    </div>
    <div>
      <ul>
        <li><a href="/home">Return to Home Page</a></li>
        <li><a href="/about">About Dave Grohl</a></li>
        <li><a href="/gallery">Photo Gallery</a></li>
      </ul>
    </div>
  </body>
</html>
